/* COMMONS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.4);
}

:root {
    --bg-color-main: #141922;
    --main-nav-color:#000000;
    --navbar-color:#202020;
    --header-main:#080B12;
    --footer:#282828;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.clear {
    content:"";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

a:hover, 
a:active, 
a:focus {
    color: rgba(255, 255, 255, 1);
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: none;
    color: #5A5A5A;
}

.up-case {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: white;
}

/* MAIN */

main {
    display: flex;
    width:100%;
    height: calc(100% - 90px); 
    overflow: hidden;              
}

.main-nav {
    width: 230px;
    height:100%;
    min-height: 480px;
    padding: 0.5em;
}

.main-content {
    width: calc(100% - 230px);
    height: 100%;
    padding-top: calc(90px + 1em);
    padding-bottom: 2em;
    background-color:var(--bg-color-main);
    overflow: auto;
}

/* MAIN-NAV-TOP */

.main-nav .main-nav-top {
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
}

.main-nav .main-nav-top .logo {
    padding: 1em;
}

.main-nav .main-nav-top .logo img {
    width: 70%;
}

#logo-small {
    display: none;
}

.main-nav .main-nav-top .main-nav-menu {
    font-size: .8em;
    margin-bottom: 2em;
}

.main-nav .main-nav-top .main-nav-menu li {
    padding-left: 1em;
    border-left: 3px solid transparent;
    margin-bottom: .2em;
}

.main-nav .main-nav-top .main-nav-menu li.active {
    padding-left: 1em;
    border-left: 3px solid greenyellow;
}

.main-nav .main-nav-top .main-nav-menu img {
    width: 30px;
    vertical-align: middle;
    opacity: .7;
}

.main-nav .main-nav-top .main-nav-menu:hover  img {
    opacity: 1;
}

/* PLAYLIST */

.main-nav .main-nav-top .playlist-container {
    height: 70%;
    padding-left: 1em;
}

.main-nav .main-nav-top .playlist-container h2 {
    font-size: 1em;
    margin-bottom: .5em;
}

.main-nav .main-nav-top .playlist-container .add-to-playlist i {
    font-size: 3em;
    vertical-align: middle;
    margin-right: .1em;
}

.main-nav .main-nav-top .playlist-container .playlists {
    height: 70%;
    padding: 1em 0;
    overflow-y: auto;
    font-size: .8em;
}

.main-nav .main-nav-top .playlist-container .playlists {
    padding:0;
}

.main-nav .main-nav-top .playlist-container .playlists li {
    margin: 1em 0;
}

/* MAIN-NAV-BOTTOM */

.main-nav .main-nav-bottom {
    width: 100%;
    height: 80px;
    padding: 0 1em;
}

.main-nav .main-nav-bottom .download {
    width: 100%;
    font-size: .8em;
}

.main-nav .main-nav-bottom .download img {
    width: 10%;
    vertical-align: middle;
    margin-right: .5em;
    opacity: .5;
}

.main-nav .main-nav-bottom .download:hover img {
    opacity: 1;
}

.main-nav .main-nav-bottom hr {
    border-color: #5A5A5A;
    margin: .5em 0 1em 0;
    width:100%;
}

.main-nav .main-nav-bottom .name-artist {
    font-weight: bold;
    font-size: .8em;
    color: white;
}

.main-nav .main-nav-bottom .name-artist img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
    vertical-align: middle;
    margin-right: .5em; 
}

/* MAIN-CONTENT */

.main-content .main-call-to-action {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: calc(100% - 230px);
    height: 90px;
    background-color: var(--header-main);
}
    
.main-content .main-call-to-action .upgrate-btn {
    position: absolute;
    top: 1.5em;
    right: 0;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 500px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em 2em;
    text-align: center;
    text-transform: uppercase;
}

.main-content .nav-menu-content {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.main-content .nav-menu-content li {
    display: inline-block;
    margin: 0.5em;
}

.main-content .list {
    padding: 0 1em;
}

.main-content .list h1 {
    margin-bottom: .5em;
    font-size: 1.5em;
}

.main-content .list.create-for {
    width:100%;
}

.main-content .list.popular-artist {
    width:100%;
}

.main-content .list .album {
    float:left;
    margin: .5em;
    width: calc(100% / 6 - 1em);
}

.main-content .list .album .album-image img{
    width:100%;
}

.main-content .list .album .album-image {
    position: relative;
}

.main-content .list .album .album-title {
    font-size: .7em;
    margin: 1em 0;
    text-align: center;
}

.main-content .list .album .album-title .album-subtitle {
    margin: .5em 0;
}

.main-content .list.popular-artist img {
    border-radius: 50%;
}

.main-content .list .album .album-image .far.fa-play-circle.over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2em;
    font-size: 3em;
    color: white;
}

.main-content .list .album .album-image:hover img {
    opacity: 0.5;
}

.main-content .list .album .album-image:hover .far.fa-play-circle.over {
    display: block;
}

/* FOOTER */

footer {
    width: 100%;
    height: 90px;
}

/* NAVBAR */

.footer-nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--footer);
    height: 100%;
}

.footer-nav .footer-nav-left, .footer-nav .footer-nav-right {
    border: 1px solid rgb(238, 27, 27);
    width: 230px;
    height: 100%;
}

.footer-nav .footer-nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav .footer-nav-left .ftr-nav-album img {
    width: 40px;    
    vertical-align: text-bottom;
}

.footer-nav .footer-nav-left .ftr-nav-album .ftr-album-title {
    display: inline-block;
    font-size: .7em;    
}

.footer-nav .footer-nav-left .ftr-left-btn li {
    display: inline;
    padding-right: .5em;
}

.footer-nav .footer-nav-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
    border: 1px solid rgb(245, 18, 18);
}

.footer-nav .footer-nav-center li {
    display: inline-block; 
    padding:0 1em;
}

.footer-nav .footer-nav-center button {
    color: white;
}

.footer-nav .footer-nav-center .far.fa-play-circle {
    font-size: 1.7em;
}

.footer-nav .footer-nav-right {
    display: flex;
    align-items: center;
}

.footer-nav .footer-nav-right .ftr-nav-right-btn {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer-nav .footer-nav-right .ftr-nav-right-btn .fas.fa-desktop {
    padding: 0 1em;
}

.footer-nav .footer-nav-right .ftr-nav-right-btn button {
    color: white;
}

.footer-nav .progress-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-nav .progress-bar .empty-bar {
    margin: 0 auto;
    width: 80%;
    background-color:grey;
    border-radius: 5px;
}

.footer-nav .progress-bar .empty-bar .full-bar {
    width: 20%;
    height: 10px;
    background-color: white;
    border-radius: 5px;
}

.footer-nav .footer-nav-right .progress-bar {
    width: 150px;
}
    


/* MEDIA-QUERY */

@media screen and (max-width: 600px) {

    .main-nav {
        width: 50px;
    }

    .main-nav .main-nav-top .logo img {
        display: none;
    }

    #logo-small {
        display: inline-block;
        width: 30px;
        padding: 0;
    }

    .main-nav .main-nav-menu a {
        display: none;
    }

    .main-nav .main-nav-top .main-nav-menu  img {
        width: 80%;
    }

    .main-nav .main-nav-top .logo {
    padding:0;
}

    .main-nav .main-nav-top .playlist-container {
        display: none;
    }

    .main-nav .main-nav-bottom span {
        display: none;
    }

    .main-nav .main-nav-bottom hr {
        display: none;
    }

    .main-nav .main-nav-bottom .download img {
        width: 20px;
    }

    .main-nav-bottom .name-artist {
        width: 250px;
    }

    .main-nav-bottom .name-artist img {
        width: 100%;
    }

    .main-content {
        width: calc(100% - 50px);
    }

    .main-content .album{
    float:left;
    width: calc(100% / 2 - 1em);
    }

    /* .main-content .flex {
        flex-wrap: wrap;
    }

    .main-content .flex .card {
        flex-basis: 44%;
    } */

    .main-content .main-call-to-action {
        width: calc(100% - 50px);
    }
}