/* COMMONS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color-main: #141922;
    --menu-left-color:#000000;
    --navbar-color:#202020;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: red;
    overflow: hidden;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

/* COMMONS */

/* MAIN */

main {
    display: flex;
    width:100%;
    height: calc(100% - 90px); 
    overflow: hidden;              
    background-color: yellow;
}

.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height:100%;
    min-height: 480px;
    background-color: violet;
}

.main-content {
    width: calc(100% - 230px);
    height: 100%;
    padding-top: calc(90px + 2em);
    padding-bottom: 2em;
    background-color: blue;
    overflow: auto;
}

/* MAIN-NAV-TOP */

.main-nav-top {
    width: 100%;
    height: calc(100% - 90px);
    background-color: burlywood;
}

.menu-side.top img {
    width: 20%;
    vertical-align: middle;
}

/* MAIN-NAV-TOP */

/* PLAYLIST */

.title-playlist {
    text-transform: uppercase;
}

.playlist-menu .add-playlist i {
    background: white;
    font-size: 1.5em;
    padding: 0.2em;
    vertical-align: middle;
}

.playlists li {
    margin: 0.5em 0;
}

/* PLAYLIST */

/* MAIN-NAV-BOTTOM */

.main-nav-bottom {
    width: 100%;
    height: 80px;
    background-color: cyan;
}

.main-nav-bottom .install-app img {
    width: 15%;
    vertical-align: middle;
}

.main-nav-bottom .install-app hr {
    border-color: red;
}

.main-nav-bottom .name-artist img {
    width: 20%;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
}

/* MAIN-NAV-BOTTOM */

/* MAIN-CALL-TO-ACTION */

.main-call-to-action {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: calc(100% - 230px);
    height: 90px;
    background-color: rgba(153, 236, 70, 0.479);
}
    
/* .upgrate-btn {
    position: fixed;
    top: 1.5em;
    right: 0;
    z-index: 1;
    background-color: transparent;
    border-radius: 500px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em 2em;
    text-align: center;
    text-transform: uppercase;
} */
/* MAIN-CALL-TO-ACTION */

/* COL-RIGHT */

.nav-col-right {
    text-align: center;
    text-transform: uppercase;
}

.nav-col-right li {
    display: inline-block;
    margin: 0.5em;
}

.card {
    margin: 0.5em;
}

.card .card-img {
    position: relative;
}

.card .card-img img {
    width: 100%;
}

.card .text-card {
    text-align: center;
}

.far.fa-play-circle.over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);padding: 0.2em;
    font-size: 3em;
    color: white;
}

.card .card-img:hover img {
    opacity: 0.5;
}

.card .card-img:hover .far.fa-play-circle.over {
    display: block;
}
/* COL-RIGHT */
    
/* MAIN */

/* FOOTER */

footer {
    width: 100%;
    height: 90px;
}
/* FOOTER */

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: green;
    height: 100%;
    align-items: center;
}

.navbar-left, .navbar-right {
    width: 20%;
    border: 1px solid black;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.nav-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-left-btn {
    display: flex;
    padding: 1em;
}

.navbar .navbar-left .img {
    width: 30%;
}

.img img {
    width:100%;
}

.navbar-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}

.nav-center {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.minutes {
    display: flex;
    align-items: center;
    width: 100%;
}

.minutes-bar {
    margin: 0 auto;
    width: 80%;
    height: 10px;
    background-color:grey;
    border: 1px solid black;
    border-radius: 5px;
}

.time-bar {
    width: 20%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.nav-right {
    display: flex; 
    justify-content: space-around;  
}

.nav-right .minutes {
    width: 70%;
}

/* MEDIA-QUERY */

@media screen and (max-width: 600px) {

    .main-nav {
        width: 50px;
    }

    .main-content {
        width: calc(100% - 50px);
    }

    .main-call-to-action {
        width: calc(100% - 50px);
    }
}