/* COMMONS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color-main: #141922;
    --menu-left-color:#000000;
    --navbar-color:#202020;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: red;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

/* COMMONS */

/* MAIN */

main {
    display: flex;
    height: calc(100% - 100px);               
    background-color: yellow;
}

.col.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    height:100%;
    background-color: violet;
    overflow-y: scroll;
}

.col.right {
    width: 90%;
    height: 100%;
    background-color: blue;
    overflow-y: scroll;
}

.col-right-header {
    background-color: orange;
    height: 100px;
}

/* COL-LEFT-TOP */

.menu-side.top img {
    width: 20%;
    vertical-align: middle;
}

/* COL-LEFT-TOP */

/* PLAYLIST */

.title-playlist {
    text-transform: uppercase;
}

.playlist-menu .add-playlist i {
    background: white;
    font-size: 1.5em;
    padding: 0.2em;
    vertical-align: middle;
}

.playlists li {
    margin: 0.5em 0;
}

/* PLAYLIST */

/* COL-LEFT-BOTTOM */

.col-left-bottom .install-app img {
    width: 15%;
    vertical-align: middle;
}

.col-left-bottom .install-app hr {
    border-color: red;
}

.col-left-bottom .name-artist img {
    width: 20%;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
}

/* COL-LEFT-BOTTOM */

/* UPGRATE-BUTTON */
    
.upgrate-btn {
    position: fixed;
    top: 1.5em;
    right: 0;
    z-index: 1;
    background-color: transparent;
    border-radius: 500px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em 2em;
    /* text-align: center; */
    text-transform: uppercase;
}
/* UPGRATE-BUTTON */

/* COL-RIGHT */

.nav-col-right {
    text-align: center;
    text-transform: uppercase;
}

.nav-col-right li {
    display: inline-block;
    margin: 0.5em;
}

.card {
    margin: 0.5em;
}

.card .card-img {
    position: relative;
}

.card .card-img img {
    width: 100%;
}

.card .text-card {
    text-align: center;
}

.far.fa-play-circle.over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);padding: 0.2em;
    font-size: 3em;
    color: white;
}

.card .card-img:hover img {
    opacity: 0.5;
}

.card .card-img:hover .far.fa-play-circle.over {
    display: block;
}
/* COL-RIGHT */
    
/* MAIN */

/* FOOTER */

footer {
    height: 100px;
}
/* FOOTER */

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: green;
    height: 100%;
    align-items: center;
}

.navbar-left, .navbar-right {
    width: 20%;
    border: 1px solid black;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.nav-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-left-btn {
    display: flex;
    padding: 1em;
}

.navbar .navbar-left .img {
    width: 30%;
}

.img img {
    width:100%;
}

.navbar-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}

.nav-center {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.minutes {
    display: flex;
    align-items: center;
    width: 100%;
}

.minutes-bar {
    margin: 0 auto;
    width: 80%;
    height: 10px;
    background-color:grey;
    border: 1px solid black;
    border-radius: 5px;
}

.time-bar {
    width: 20%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

/* .fas.fa-play {
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 1em;
    padding: 0.5em;
} */
/* NAVBAR */


/* footer {
  display: flex;
  justify-content: space-between;
  align-items: strech;
  height: var(--footer-height);
}
footer .footer-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

footer .footer-menu li {
  display: flex;
  margin: 5px;
}
footer .footer-menu li:hover {
  background-color: var(--button-bg-color);
  border-radius: 5px;
}
footer .footer-menu li.doble-btn .btn:first-child {
  margin: 0 10px 0 0;
}
footer .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
footer .btn:hover,
footer .btn:active,
footer .btn:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
footer .btn.green i {
  color: var(--button-active-color);
}
footer .btn.red {
  height: 100%;
  background-color: var(--button-bg-color);
  color: red;
}
footer .footer-right {
  flex-shrink: 0;
} */